version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cine-starsoft_api
    ports:
      - '${PORT}:${PORT}'
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
    networks:
      - nest-network
    depends_on:
      - db
      - redis-db
    env_file:
      - .env

  redis-db:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - nest-network

  db:
    image: postgres:15-alpine
    container_name: cine-starsoft_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    networks:
      - nest-network

networks:
  nest-network:
    driver: bridge
